
body{
margin:0;
font-family:Arial;
background:#0d0d0d;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:black;
border-bottom:2px solid gold;
}

.logo-wrap{
display:flex;
align-items:center;
gap:15px;
}

.logo{
width:80px;
border-radius:50%;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:bold;
}

nav a:hover{
color:gold;
}

.hero{
height:90vh;
background:
linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
url('logo.png') center/contain no-repeat,
linear-gradient(to right,#000,#222);
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero-content h2{
font-size:4rem;
color:gold;
}

.hero-content p{
font-size:1.5rem;
}

.btn{
display:inline-block;
margin-top:20px;
padding:15px 30px;
background:gold;
color:black;
text-decoration:none;
border-radius:30px;
font-weight:bold;
}

.section,.page{
padding:80px 20px;
text-align:center;
}

.cards{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
margin-top:30px;
}

.card{
background:#1b1b1b;
padding:30px;
border:1px solid gold;
border-radius:15px;
width:250px;
}

.form{
display:flex;
flex-direction:column;
gap:15px;
max-width:500px;
margin:auto;
}

.form input,.form textarea{
padding:15px;
border:none;
border-radius:10px;
}

.form button{
padding:15px;
background:gold;
border:none;
border-radius:30px;
font-weight:bold;
}

footer{
padding:20px;
text-align:center;
background:black;
border-top:2px solid gold;
}
